@import '../common/variables';

#about {
  .wrapper {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0;
  }
  .name {
    font-size: 2em;
    .pronounciation {
      font-size: 0.8em;
    }
  }
  ol {
    list-style: decimal;
  }
  li {
    color: black;
  }
  .definition {
    margin-bottom: 0.3em;
  }
  .example {
    font-size: 0.9em;
    margin: 0.3em;
    color: gray;
  }
  .countable {
    float: right;
  }
}
