@import '../common/variables';

footer {
  background-color: @wet_asphalt;
  height: 40px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  a {
    color: white;
    text-decoration: none;
  }
  .footer-right {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
  }
  .footer-left {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
  }
}
