@import '../common/variables';

.container {
  display: flex; /* or inline-flex */
  padding: 20px 40px;

  #item-1 {
    order: 1;
    flex-grow: 2;
  }
  #item-2 {
    order: 2;
    flex-grow: 2;
  }
  #item-3 {
    order: 3;
    flex-grow: 2;
  }
  #item-4 {
    order: 4;
    flex-grow: 2;
  }
  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
  .team-name {
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
  }
  ul {
    text-align: center;
    padding: 0px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
  }
}

.team-title {
  font-size: 30px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
