<header id="header">
  <div class="top-bar">
    <ul>
        <li><a class="left smooth-scroll" href="#header">SAFIE</a></li>
        <li><a class="right smooth-scroll" href="#team">Team</a></li>
        <li><a class="right smooth-scroll" href="#features">Features</a></li>
        <li><a class="right smooth-scroll" href="#about">About</a></li>
    </ul>
  </div>
</header>

<div id="about">

</div>

<div id="features">

</div>

<div id="team">

</div>

<footer>
    <div class="footer-left">Posted by: SafieTeam</div>
    <div class="footer-right">Contact information: <a href="#">someone@example.com</a></div>
</footer>

<script>
    (function() {
      var smoothScroll = document.getElementsByClassName("smooth-scroll");
      for(var i = 0; i < smoothScroll.length; i++) {
        new SmoothScroll(smoothScroll[i]);
      }
    })();
</script>
